/* stylelint-disable sh-waqar/declaration-use-variable */
[data-type="cps/accordion-item"] {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;

	& .accordion-header {
		margin-top: 0 !important;
	}

	& .accordion-content {
		border-bottom: 1px solid rgb(30, 30, 30);
	}
}

.block-accordion-edit-description {
	margin-bottom: 1em;
}
