/* stylelint-disable sh-waqar/declaration-use-variable */
.cps-anchor {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 20px 0;

	& svg {
		height: 16px;
		margin: 0 10px;
		width: 16px;
	}

	& span {
		border-top: 1px solid currentColor;
		flex: 1 1 auto;
	}
}
