.block-editor-block-list__block .block-card .block-card-cta-input {
	cursor: text;
}

.block-editor-block-list__block .block-card .block-editor-url-input .block-editor-url-input__input {
	border: 1px solid #757575;
	border-radius: 2px;
	padding: 6px 8px;
	width: 100%;
}
