/* stylelint-disable sh-waqar/declaration-use-variable */

.editor-styles-wrapper [data-type="cps/carousel"] {

	& .cps-edit-block-carousel.is-selected {
		border: 1px dashed #171717;
		margin-bottom: 48px;
		padding: 0 24px 24px;
	}
}

[data-type="cps/carousel-item"] {
	border: 1px solid #171717;
	padding: 0 24px 20px;

	& .wp-block {
		background-color: #fff;
	}
}

.editor-styles-wrapper [data-type="cps/carousel"] .block-carousel .block-list-appender {
	display: none !important;
}
