/* stylelint-disable sh-waqar/declaration-use-variable */
.block-faculty-directory .description {
	border: 1px dashed #adadad;
	margin: 1em 0;
	padding: 1em;
	text-align: center;

}

.block-faculty-directory .description p {
	color: #adadad;
	font-style: italic;
}
