.faculty-grid__slider .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -20px 0 0 -20px;

	& .block-list-appender {
		flex: 1 0 100%;
	}

	& .block-editor-button-block-appender {
		box-shadow: inset 0 0 0 1px currentColor;
		color: inherit;
	}
}

.faculty-grid__slider .block-editor-block-list__layout .wp-block {
	flex: 1 0 33.33%;
	margin: 0;
	max-width: 33.33%;
	padding: 20px;
}
