.block-icon-columns .block-editor-inner-blocks {
	width: 100%;
}

.block-icon-columns .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	margin: -20px 0 0 -20px;
}

.block-icon-columns .block-editor-block-list__layout .wp-block {
	flex: 1 0 33.33%;
	max-width: 33.33%;
	padding: 20px;
}

.block-icon-columns .grid--1 .block-editor-block-list__layout .wp-block {
	flex: 1 0 100%;
	max-width: 100%;
}

.block-icon-columns .grid--2 .block-editor-block-list__layout .wp-block {
	flex: 1 0 50%;
	max-width: 50%;
}


.block-icon-columns .grid--4 .block-editor-block-list__layout .wp-block {
	flex: 1 0 25%;
	max-width: 25%;
}
