/* stylelint-disable sh-waqar/declaration-use-variable */
.program-finder-items-wrap {
	border: 1px solid #1e1e1e;
	display: flex;
}

.program-finder-items-header p {
	margin-bottom: 2em;
	margin-top: 0;
}

.program-finder-items {
	padding: 12px;
	width: 50%;


	&:first-of-type {
		border-right: 1px solid #ddd;
	}


	& .cps-sortable {
		width: 100%;
	}

	& .cps-sortable-items {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	& .cps-sortable-item {
		margin-bottom: 12px;
	}
}

.program-finder-item {
	background-color: #fff;
	border: 1px solid #757575;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	padding: 8px 8px 0;
	width: 100%;

	&:hover {
		border: 1px solid #007cba;
	}
}

.block-editor-block-list__block .program-finder-item .block-editor-url-input .block-editor-url-input__input {
	border: 1px solid #757575;
	border-radius: 2px;
	padding: 6px 8px;
	width: 100%;
}
