/* stylelint-disable sh-waqar/declaration-use-variable */
.block-program-grid .description {
	border: 1px dashed #adadad;
	margin: 1em 0;
	padding: 1em;
	text-align: center;

}

.block-program-grid .description p {
	color: #adadad;
	font-style: italic;
}

.program-grid-option-description {
	margin: 1em 0 1.2em;
	width: 100%;
}

.block-program-grid .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -20px 0 0 -20px;

	& .block-list-appender {
		flex: 1 0 100%;
	}

	& .block-editor-button-block-appender {
		box-shadow: inset 0 0 0 1px currentColor;
		color: inherit;
	}

	& .wp-block {
		flex: 1 0 33.33%;
		margin: 0;
		max-width: 33.33%;
		padding: 20px;
	}
}
