[data-type="core/pullquote"] {
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

[data-type="core/pullquote"] .wp-block[data-align="left"] {
	margin-left: 0;
}

[data-type="core/pullquote"] .wp-block[data-align="right"] {
	margin-right: 0;
}

[data-type="core/pullquote"] .wp-block[data-align="left"],
[data-type="core/pullquote"] .wp-block[data-align="right"] {
	height: auto;
	width: 50%;

	& > .wp-block-pullquote {
		float: none;

		& p {
			font-family: var(--c-heading);
			font-size: 37px;
			font-style: italic;
			font-weight: 300;
			line-height: 1.08;
			margin: 0;
			text-align: left;
		}

	}

}

.wp-block-pullquote {
	border-bottom: 0;
	border-top: 0;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	text-align: left;
}
