body > .site-footer-contact {
	margin-top: 50px;
}

.site-footer-contact {
	position: relative;

	&::after {
		background-color: var(--c-gray-900);
		bottom: 0;
		content: "";
		display: block;
		height: 50%;
		position: absolute;
		width: 100%;
		z-index: -1;
	}

	@nest .single-program-content__blocks & {

		&::after {

			@media (--bp-single-program) {
				display: none;
			}
		}
	}
}

.block-footer-contact {
	color: var(--c-white);
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding: 40px 20px;
	text-align: center;
	width: calc(100% - 40px);

	@media (--bp-large) {
		padding: 70px 20px 55px 20px;
	}

	&:not([class*="background-color"]) {
		background-color: var(--c-red);

		& a:focus,
		& a:hover {
			color: var(--c-black);
		}
	}

	&.has-white-background-color,
	&.has-yellow-background-color {
		color: var(--c-black);
	}

	@nest .single-program-content__blocks & {

		@media (--bp-single-program) {
			margin-left: -25px;
			margin-right: -25px;
			max-width: calc(100% + 50px);
			width: calc(100% + 50px);
		}
	}
}

.block-footer-contact__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;

	& span a {
		font-weight: 700;
		text-decoration: none;
	}

	& > div {
		margin-top: 40px;
	}
}

.block-footer-contact__headline {
	letter-spacing: 0;
	margin-bottom: 28px;
	margin-top: 0;
}

.block-footer-contact__divider {
	color: transparent;
	display: block;
	margin: 0 15px;

	@media (--bp-large) {
		color: inherit;
		display: inline-block;
	}
}

.block-footer-contact__top {
	margin-bottom: 0;
	margin-top: 40px;
}
