.wp-block-quote {
	border-left: 1px solid var(--c-red);
	margin: 20px 15px;
	padding-left: 30px;

	@media (--bp-medium) {
		margin: 20px;
	}

	@media (--bp-xlarge) {
		margin: 20px 40px;
	}

	&.is-style-large {
		margin: 20px 15px;
		padding: 0 0 0 30px;

		@media (--bp-medium) {
			margin: 20px;
		}

		@media (--bp-xlarge) {
			margin: 20px 40px;
		}
	}

	&.is-style-no-border {
		border-left: 0;
		margin: 20px auto;
		padding-left: 0;

		& p {
			font-family: var(--c-heading);
			font-size: 24px;
			font-style: italic;
			font-weight: 300;
			line-height: 1.08;

			@media (--bp-large) {
				font-size: 37px;
			}

			@nest .wp-block-columns & {
				margin-top: 0;
			}
		}

	}
}
