.block-carousel {
	margin: 40px auto;
	padding: 0 40px;
	position: relative;

	@media (--bp-xlarge) {
		padding: 0;
	}

	& .tns-controls button {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: inherit;
		height: 30px;
		padding: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;

		&[disabled] {
			opacity: 0.6;
			pointer-events: none;
		}

		&[data-controls="prev"] {
			left: 0;

			@media (--bp-xlarge) {
				left: -40px;
			}
		}

		&[data-controls="next"] {
			right: 0;

			@media (--bp-xlarge) {
				right: -40px;
			}
		}
	}
}
