.initials {
	align-items: center;
	display: none;
	font-family: var(--f-heading);
	justify-content: center;
	list-style: none;
	margin: 40px 0;
	padding: 0;

	@media (--bp-medium) {
		display: flex;
	}

	@media (--bp-large) {
		margin: 45px 0;
	}

}

.initial {
	background-color: transparent;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	border-top: 1px solid var(--c-gray-900);
	cursor: pointer;
	font-family: var(--f-heading);
	font-size: 16px;
	font-weight: 700;
	padding: 30px 0;
	text-align: left;
	width: 100%;

	@media (--bp-medium) {
		border: 0;
		color: var(--c-red);
		font-weight: 400;
		padding: 5px 10px;
		text-align: center;
		text-decoration: underline;
		width: auto;
	}

	&.active {
		font-weight: 700;
	}

	&:focus,
	&:hover {
		color: var(--c-black);
	}

	&.small-screen-initial {
		display: block;
		position: relative;

		@media (--bp-medium) {
			display: none;
		}

		&::after {
			border: 10px solid transparent;
			border-top-color: var(--c-black);
			content: "";
			display: block;
			height: 0;
			position: absolute;
			right: 30px;
			top: 33px;
			width: 0;
		}

		&[aria-expanded="true"]::after {
			border-bottom-color: var(--c-black);
			border-top-color: transparent;
			top: 24px;
		}
	}
}

.faculty-directory-search {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	max-width: 435px;
	position: relative;
	width: 100%;

	@media (--bp-medium) {
		margin-bottom: 45px;
		margin-top: 0;
	}

	& label {
		display: block;
		font-size: 14px;
		margin-bottom: 10px;
	}

	& input {
		font-style: italic;
		width: 100%;
	}

	& select:not(.select2-hidden-accessible) {
		border-color: var(--c-black);
		border-radius: 0;
		height: 48px;
		width: 100%;
	}
}

.faculty-members {
	border-bottom: 1px solid var(--c-gray-900);
	border-collapse: collapse;
	display: none;
	margin-bottom: -1px;
	width: 100%;

	@media (--bp-medium) {
		border-bottom: 0;
		margin-bottom: 50px;
	}

	&[aria-hidden="false"] {
		display: table;
	}

	& thead {
		display: none;

		@media (--bp-medium) {
			display: table-header-group;
		}
	}

	& th {
		border-bottom: 1px solid var(--c-gray-900);
		border-top: 1px solid var(--c-gray-900);
		padding: 12px 30px;
		text-align: left;
	}

	& td {
		font-size: 14px;

		@media (--bp-medium) {
			padding: 12px 30px;
		}
	}

	& th,
	& td {
		display: block;
		width: 100%;

		@media (--bp-medium) {
			display: table-cell;
			width: 50%;
		}
	}

	& tr {
		display: block;
		margin-bottom: 30px;

		@media (--bp-medium) {
			display: table-row;
			margin-bottom: 0;
		}
	}

	& .initial-heading {
		display: none;

		@media (--bp-medium) {
			display: table-row;
		}

		& td {

			@media (--bp-medium) {
				padding: 0 30px;
			}
		}

		& h2 {
			margin: 30px 0 10px;
		}
	}
}


.faculty-member-list-result {
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
}
