.block-stat {

	& h3 {

		@nest .wp-block-columns & {
			margin-bottom: 0;
		}
	}

	& p {

		@nest .wp-block-columns & {
			font-size: 12px;
			line-height: 1.9;
			margin-top: 0;

			@media (--bp-large) {
				font-size: 14px;
				line-height: 1.64;
			}
		}
	}
}

.block-stat.is-style-date {
	text-align: center;

	& h3 {
		font-family: var(--f-body);
		font-size: 16px;
		font-weight: 700;
		line-height: 1.375;
	}

	& p {
		font-family: var(--f-body);
		font-size: 12px;
		line-height: 1.9;

		@media (--bp-large) {
			font-size: 14px;
			line-height: 1.64;
		}
	}
}

.block-stat__number {
	font-size: 107px;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 3.7px;
	line-height: 1.1;

	@nest .is-style-date & {
		font-size: 58px;

		&::after {
			background-color: var(--c-gray-900);
			content: "";
			display: block;
			height: 1px;
			margin: 20px auto;
			width: 41px;
		}
	}
}
