.faculty-grid {
	margin: 40px auto;
	padding: 0 40px;
	position: relative;

	@media (--bp-xlarge) {
		padding: 0;
	}

	@nest .single-program-content__blocks & {

		@media (--bp-xlarge) {
			padding: 0 40px;
		}
	}

	& .tns-controls button {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: inherit;
		height: 30px;
		padding: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;

		&[data-controls="prev"] {
			left: 0;

			@media (--bp-xlarge) {
				left: -40px;
			}

			@nest .single-program-content__blocks & {

				@media (--bp-xlarge) {
					left: 0;
				}
			}
		}

		&[data-controls="next"] {
			right: 0;

			@media (--bp-xlarge) {
				right: -40px;
			}

			@nest .single-program-content__blocks & {

				@media (--bp-xlarge) {
					right: 0;
				}
			}
		}

		&[disabled] {
			opacity: 0.6;
			pointer-events: none;
		}
	}
}

.faculty-card {

	& :--heading:first-child {
		margin-top: 0;
	}

	& ul {
		list-style: none;
		margin-top: 30px;
		padding: 0 0 0 20px;
		position: relative;

		&::before {
			background-color: var(--c-yellow);
			content: "";
			height: calc(100% + 30px);
			left: 1px;
			position: absolute;
			top: -30px;
			width: 1px;
		}

		& li {
			margin-bottom: 30px;
			position: relative;

			&::before {
				background-color: var(--c-yellow);
				border-radius: 100%;
				content: "";
				display: block;
				height: 7px;
				left: -22px;
				position: absolute;
				top: 6px;
				width: 7px;
			}
		}
	}
}

.faculty-card__content {
	background-color: var(--c-white);
	box-sizing: border-box;
	color: var(--c-text);
	padding: 30px;
}

.faculty-card__image {

	@mixin aspect-ratio 1, 1;

	& img {

		@mixin aspect-ratio__element;
		@mixin aspect-ratio__element--cover;

		display: block;
		max-width: 100%;
		width: 100%;
	}
}
