.block-program-finder {
	padding: 20px;

	@media (--bp-large) {
		padding: 16px 20px;
	}

	@nest .cps-theme & {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		position: relative;
		right: -50%;
		width: 100vw;
	}
}

.block-program-finder__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;

	@media (--bp-large) {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	& > div {

		@media (--bp-large) {
			flex: 1 0 auto;
			padding: 0 20px;
		}
	}
}

.block-program-finder__form {
	display: flex;

	& .select2 {
		width: 238px;

		@media (--bp-medium) {
			width: 453px;
		}
	}

	& .button-tertiary {
		padding: 17px;

		@media (--bp-medium) {
			padding: 17px 24px;
		}

		@nest .ie11 & {
			max-height: 49px;
		}
	}
}
