.block-cps-quote {

	@mixin component-spacing-top;
	font-family: var(--c-heading);
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.08;
	text-align: center;

	@media (--bp-large) {
		font-size: 37px;
	}

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84' height='22' viewBox='0 0 84 22'%3E%3Cpath fill-rule='evenodd' d='M9.08533731 6.35265363C10.1010985 4.52775978 11.9654567 2.89140223 14.5280836 1.92549162 14.6110687 1.89427374 14.6868896 1.85961453 14.7573373 1.82298883L14.0896358.0455363128C14.0884418.0454134078 14.0873672.0451675978 14.0860537.0451675978 10.1972179-.0204636872 5.45202388 2.44685475 2.49799403 6.64332402.819904478 9.02682123-.0000358208955 11.422486-.0000358208955 13.927905L.00545671642 13.9280279C.00354626866 13.9977151-.0000358208955 14.0667877-.0000358208955 14.1367207-.0000358208955 18.4794469 3.56688955 22.0000615 7.96665075 22.0000615 12.3665313 22.0000615 15.9334567 18.4794469 15.9334567 14.1367207 15.9334567 10.1692235 12.9553075 6.8896257 9.08533731 6.35265363M30.1038209 6.35265363C31.1194627 4.52775978 32.9840597 2.89140223 35.5464478 1.92549162 35.6293134 1.89427374 35.7052537 1.85961453 35.7754627 1.82298883L35.108.0455363128C35.1065672.0454134078 35.1057313.0451675978 35.1042985.0451675978 31.2155821-.0204636872 26.4703881 2.44685475 23.5163582 6.64332402 21.8383881 9.02682123 21.0184478 11.422486 21.0184478 13.927905L21.0238209 13.9280279C21.0219104 13.9977151 21.0184478 14.0667877 21.0184478 14.1367207 21.0184478 18.4794469 24.5853731 22.0000615 28.9850149 22.0000615 33.3848955 22.0000615 36.9515821 18.4794469 36.9515821 14.1367207 36.9515821 10.1692235 33.9734328 6.8896257 30.1038209 6.35265363M74.8683343 15.6910883C73.8524537 17.5162279 71.9882149 19.1523397 69.4254687 20.1182503 69.3424836 20.149714 69.2666627 20.1841274 69.1962149 20.2207531L69.8639164 21.9983285C69.8651104 21.9983285 69.8661851 21.9985743 69.8676179 21.9985743 73.7563343 22.0643285 78.5015284 19.5968872 81.455797 15.4006637 83.1337672 13.0171665 83.9537075 10.6215017 83.9537075 8.11583687L83.9483343 8.11583687C83.950006 8.04627263 83.9537075 7.97707709 83.9537075 7.90702123 83.9537075 3.56454078 80.3867821.043926257 75.9870209.043926257 71.5871403.043926257 68.0200955 3.56454078 68.0200955 7.90702123 68.0200955 11.8747642 70.9982448 15.154362 74.8683343 15.6910883M53.8765672 15.6785691C52.8566707 17.5073722 50.9843826 19.146768 48.4109007 20.1146174 48.3278078 20.1461442 48.2514295 20.1806267 48.1809264 20.2173259L48.8511852 21.9984693C48.852624 21.9984693 48.8534633 21.9987156 48.8549022 21.9987156 52.7599089 22.0646017 57.5252209 19.5922077 60.4916255 15.3875616 62.1766249 12.9992802 63 10.5988068 63 8.08811261L62.9946044 8.08811261C62.9965228 8.01840874 63 7.94907432 63 7.87887783 63 3.52768113 59.4181324 0 54.99994 0 50.5816278 0 47 3.52768113 47 7.87887783 47 11.8545849 49.9905052 15.1407655 53.8765672 15.6785691'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		content: "";
		display: block;
		height: 22px;
		margin: 0 auto;
		width: 84px;
	}

	& cite {
		font-style: normal;
		text-align: center;

		& span {
			display: block;
		}
	}

	& a {
		color: inherit;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
