.block-icon-columns {

	@mixin component-spacing-top;
}

.grid--icons {
	margin-bottom: 40px;
	margin-top: 40px;
}

.grid-item--icon {
	align-items: flex-start;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0 20px;

	@media (--bp-large) {
		margin-bottom: 0;
	}

	@nest .cps-theme .grid--1 & {
		flex: 1 0 100%;
		max-width: 100%;
	}

	@nest .cps-theme .grid--2 & {
		flex: 1 0 50%;
		max-width: 50%;
	}

	@nest .cps-theme .grid--3 & {
		flex: 1 0 100%;
		max-width: 100%;
		padding: 0;

		@media (--bp-large) {
			flex: 1 0 33.33%;
			max-width: 33.33%;
			padding: 0 20px;
		}
	}

	@nest .cps-theme .grid--4 & {
		display: block;
		flex: 1 0 50%;
		max-width: 50%;
		padding: 0 20px 0 0;

		@media (--bp-large) {
			display: flex;
			flex: 1 0 25%;
			max-width: 25%;
			padding: 0 20px;
		}
	}
}

.grid--icons .grid-item__icon {
	flex: 1 0 34px;

	& img,
	& svg {
		height: auto;
		max-height: 34px;
		max-width: 34px;
		width: auto;
	}
}

.grid-item__content {

	@nest .grid--icons & {
		box-sizing: border-box;
		flex: 1 0 calc(100% - 34px);
		max-width: calc(100% - 34px);
		padding-left: 18px;
	}

	@nest .cps-theme .grid--icons.grid--4 & {
		flex: 1 0 100%;
		max-width: 100%;
		padding-left: 0;

		@media (--bp-large) {
			flex: 1 0 calc(100% - 34px);
			max-width: calc(100% - 34px);
			padding-left: 18px;
		}
	}

	& :--heading:first-child {
		margin-top: 0;
	}
}
