.block-image-text {
	margin-bottom: var(--space-md);
	margin-top: var(--space-md);
	position: relative;
}

.block-image-text__content {
	background-color: var(--c-white);
	border-bottom: 24px solid var(--c-red);
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	max-width: 85%;
	padding: 40px;
	position: relative;
	z-index: 2;

	@media (--bp-medium) {
		border-bottom: 0;
		border-right: 24px solid var(--c-red);
		margin-top: 0;
		max-width: 331px;
		padding: 20px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}

	@media (--bp-xlarge) {
		max-width: 519px;
		padding: 40px 40px 40px 78px;
	}

	@nest .block-image-text--no-image & {
		margin-top: 0;

		@media (--bp-medium) {
			position: relative;
			right: auto;
			top: auto;
			transform: none;
		}
	}

	@nest .block-image-text--no-image.block-image-text--alignleft & {

		@media (--bp-medium) {
			margin-right: 0;
		}
	}

	@nest .block-image-text--no-image.block-image-text--alignright & {

		@media (--bp-medium) {
			margin-left: 0;
		}
	}

	@nest .block-image-text--alignright & {

		@media (--bp-medium) {
			border-left: 24px solid var(--c-red);
			border-right: 0;
			left: 0;
			right: auto;
		}

		@media (--bp-xlarge) {
			padding: 40px 78px 40px 40px;
		}
	}

	& h3 {
		margin-top: 0;
	}

	& p:last-child {
		margin-bottom: 0;
	}
}

.block-image-text__image {

	@mixin aspect-ratio 375, 228;
	width: 100%;
	z-index: 1;

	@media (--bp-medium) {

		@mixin aspect-ratio 585, 291;
		margin-right: auto;
		max-width: 82%;
	}

	@media (--bp-xlarge) {

		@mixin aspect-ratio 876, 436;
	}

	@nest .block-image-text--alignright & {

		@media (--bp-medium) {
			margin-left: auto;
			margin-right: 0;
		}
	}

	& img {

		@mixin aspect-ratio__element;
		@mixin aspect-ratio__element--cover;
	}
}

.block-image-text__copy {
	margin: 21px 0;
}

.block-image-text__date {
	align-items: center;
	display: flex;

	& svg {
		margin-right: 10px;
	}
}
