.block-hero {
	position: relative;

	@nest .cps-theme & {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		right: -50%;
		width: 100vw;
	}

	@nest .has-global-header & {
		margin-top: 44px;
	}

	@nest .admin-bar.has-global-header & {
		margin-top: 0;
	}

	&.block-hero--color:first-child {
		padding-top: 56px;

		@media (--bp-xlarge) {
			padding-top: 80px;
		}
	}
}

.block-hero--color {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 253px;

	@media (--bp-xlarge) {
		min-height: 369px;
	}
}

.block-hero--center {
	text-align: center;
}

.block-hero__video {

	@mixin aspect-ratio 375, 406;
	pointer-events: none;

	@media (--bp-medium) {

		@mixin aspect-ratio 768, 406;
	}

	@media (--bp-xlarge) {

		@mixin aspect-ratio 1440, 691;
	}

	& iframe,
	& img {

		@mixin aspect-ratio__element;
		@mixin aspect-ratio__element--cover;
		pointer-events: none;
	}

	& iframe {
		display: none;

		@media (--bp-large) {
			display: block;
		}
	}

	& img {
		display: block;

		@media (--bp-large) {
			display: none;
		}
	}
}

.block-hero__image {

	@nest .block-hero--fixed & {

		@mixin aspect-ratio 375, 300;

		@media (--bp-medium) {

			@mixin aspect-ratio 768, 390;
		}

		@media (--bp-xlarge) {

			@mixin aspect-ratio 1440, 550;
		}
	}

	@nest .block-hero--free & {
		overflow: hidden;
		position: relative;

		&::before {
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute !important;
			top: 0;
			width: 100%;
		}
	}

	& img {

		@nest .block-hero--fixed & {

			@mixin aspect-ratio__element;
			@mixin aspect-ratio__element--cover;
		}

		@nest .block-hero--free & {
			display: block;
			height: auto;
			min-height: 300px;
			min-width: 100%;
			position: relative;
			width: auto;
			z-index: 2;

			@media (--bp-medium) {
				min-height: 390px;
			}

			@media (--bp-xlarge) {
				min-height: 550px;
			}
		}

		@nest .block-hero--fixed.block-hero--image-align-right & {
			object-position: right;
		}

		@nest .block-hero--free.block-hero--image-align-right & {
			float: right;
		}

		@nest .block-hero--fixed.block-hero--image-align-left & {
			object-position: left;
		}

		@nest .block-hero--fixed.block-hero--image-align-center & {
			object-position: center;
		}

		@nest .block-hero--free.block-hero--image-align-center & {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@nest .block-hero--overlay-white &::before,
	.has-black-color.block-hero--overlay-none &::before {

		@media (--bp-medium-max) {
			background-image: linear-gradient(0deg, var(--c-white) 0%, rgba(255, 255, 255, 0) 90%);
			position: relative;
			z-index: 3;
		}
	}

	@nest .block-hero--overlay-black &::before,
	.has-white-color.block-hero--overlay-none &::before {

		@media (--bp-medium-max) {
			background-image: linear-gradient(0deg, var(--c-black) 0%, rgba(255, 255, 255, 0) 90%);
			position: relative;
			z-index: 3;
		}
	}
}

.block-hero__content {
	box-sizing: border-box;
	padding: 20px;

	@media (--bp-xlarge) {
		max-width: 854px;
		padding: 20px 100px;
	}

	@media (--bp-xlarge) {
		max-width: 1000px;
	}

	@nest .block-hero--image.block-hero--overlay-black &,
	.block-hero--image.has-white-color.block-hero--overlay-none & {
		background-color: var(--c-black);
		color: var(--c-white);

		@media (--bp-medium) {
			background-color: transparent;
			color: inherit;
		}
	}

	@nest .block-hero--image.block-hero--overlay-white & {
		background-color: var(--c-white);
		color: var(--c-black);

		@media (--bp-medium) {
			background-color: transparent;
			color: inherit;
		}
	}

	& :--heading {
		margin-bottom: 5px;
	}

	&.block-hero__content--badge {

		@media (--bp-medium) {
			display: flex;
		}

		& .block-hero__content-text {
			flex: 1;
		}
	}
}

.block-hero--image .block-hero__content {
	position: relative;
	z-index: 3;

	@media (--bp-medium) {
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
}

.block-hero--video .block-hero__content {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;

	@media (--bp-xlarge) {
		max-width: 667px;
	}

	@media (--bp-xlarge) {
		max-width: 667px;
	}
}

.block-hero__overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;

	@media (--bp-medium-max) {
		opacity: 1 !important;
	}

	@nest .block-hero--overlay-white & {

		@media (--bp-medium) {
			background-image: linear-gradient(180deg, var(--c-white) 0%, rgba(255, 255, 255, 0) 100%);
		}
	}

	@nest .block-hero--overlay-black & {

		@media (--bp-medium) {
			background-image: linear-gradient(180deg, var(--c-black) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}

	@nest .block-hero--video.block-hero--overlay-white & {
		background-image: linear-gradient(180deg, var(--c-white) 0%, rgba(255, 255, 255, 0) 100%);
	}

	@nest .block-hero--video.block-hero--overlay-black & {
		background-image: linear-gradient(180deg, var(--c-black) 0%, rgba(0, 0, 0, 0) 100%);
	}
}
