.block-accordion {

	@mixin component-spacing-top;
	margin-bottom: var(--space-mdplus);
}

.block-accordion__items {
	border-top: 1px solid var(--c-border);
}

.accordion-header {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--c-border);
	cursor: pointer;
	padding: 20px 25px 20px 0;
	position: relative;
	text-align: left;
	width: 100%;

	@media (--bp-medium) {
		padding: 25px 60px 25px 25px;
	}

	&::after {
		border: 7px solid transparent;
		border-bottom: 0;
		border-top-color: var(--c-black);
		content: "";
		display: block;
		height: 0;
		margin-top: -5px;
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;

		@media (--bp-medium) {
			border: 10px solid transparent;
			border-bottom: 0;
			border-top-color: var(--c-black);
			right: 25px;
		}
	}

	&.is-active {
		border-bottom-color: transparent;
	}

	&.is-active::after {
		border-bottom: 10px solid var(--c-black);
		border-top: 0;
	}
}

.accordion-content {
	font-size: 12px;
	line-height: 1.9;
	overflow: hidden;
	padding: 0 30px;

	@media (--bp-medium) {
		padding: 0 60px;
	}

	@media (--bp-large) {
		font-size: 14px;
		line-height: 1.64;
	}

	@nest .js & {
		display: none;

		&.is-active {
			border-bottom: 1px solid var(--c-border);
			display: block;
			padding-bottom: 25px;
		}
	}

	& li {
		margin-bottom: 20px;
	}

	/* Style for legacy table */
	& .collapse table {

		& tbody {
			background-color: var(--c-gray-200);
		}

		& tr {
			border-bottom: 3px solid var(--c-white);
		}

		& td {
			padding: 10px;
		}
	}
}
