.wp-block-button__link,
.button-primary,
.button-secondary,
.button-tertiary {
	background-color: var(--c-black);
	border-radius: 0 !important;
	font-family: var(--f-heading);
	font-size: 12px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 12px;
	text-transform: uppercase;
	transition: all 0.2s ease;

	@media (--bp-medium) {
		padding: 12px 24px;
	}

	@nest .ie11 & {
		line-height: 22px;
		max-height: 41px;
	}

	&:focus,
	&:hover {
		background-color: var(--c-red);
		color: var(--c-white);
	}

	&.has-red-background-color,
	&.has-yellow-background-color {

		&:focus,
		&:hover {
			background-color: var(--c-black);
			color: var(--c-white);
		}
	}

	&.has-white-background-color {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.45);
		color: var(--c-red);

		&:focus,
		&:hover {
			background-color: var(--c-red);
			box-shadow: none;
			color: var(--c-white);
		}

		@nest .has-red-background-color & {

			&:focus,
			&:hover {
				background-color: var(--c-black);
				color: var(--c-white);
			}
		}
	}
}

.button-primary,
.button-secondary,
.button-tertiary {
	border: 0;
	color: var(--c-white);
	cursor: pointer;
	display: inline-block;
}

.button-secondary {
	background-color: var(--c-red);
	color: var(--c-white);

	&:focus,
	&:hover {
		background-color: var(--c-black);
		color: var(--c-white);
	}
}

.button-tertiary {
	background-color: var(--c-white);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.45);
	color: var(--c-red);

	&:focus,
	&:hover {
		background-color: var(--c-red);
		box-shadow: none;
		color: var(--c-white);
	}

	@nest .has-red-background-color & {

		&:focus,
		&:hover {
			background-color: var(--c-black);
			color: var(--c-white);
		}
	}
}
