.wp-block-columns.is-style-logo-grid {
	align-items: center;

	& .wp-block-image {
		margin: 30px 0;

		& img {
			display: block;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			max-height: 80px;
			max-width: 172px;
			width: auto;
		}

		& figure {
			margin: 0 auto;
		}
	}
}

.wp-block-columns.is-style-two-columns {

	& .wp-block-column:not(:first-child) {

		@media (--bp-xlarge) {
			margin-left: 68px;
		}
	}

	& .wp-block-image {
		margin: 1.3em 0;
	}
}

.block-section-heading + .wp-block-columns {
	margin-top: 30px;

	@media (--bp-large) {
		margin-top: 50px;
	}
}
