.wp-block-embed {
	margin: 40px 0;

	@media (--bp-medium) {
		margin: 60px 0;
	}
}

.wp-block-embed .wp-block-embed__wrapper {

	@nest .cps-theme & {

		@mixin aspect-ratio 16, 9;

		& iframe {

			@mixin aspect-ratio__element;
			@mixin aspect-ratio__element--cover;
			object-fit: fill;
		}
	}
}
