.cps-theme .global-container > .wp-block-group.has-background {
	left: 50%;
	margin: 50px -50vw;
	margin-right: -50vw;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
	right: -50%;
	width: 100vw;

	@media (--bp-medium) {
		margin: 60px -50vw;
	}

	@media (--bp-large) {
		margin: 80px -50vw;
	}

	& .wp-block-group__inner-container {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: 1040px;
		padding: 50px 0;

		@media (--bp-medium) {
			padding: 60px 0;
		}

		@media (--bp-large) {
			padding: 80px 20px;
		}
	}

	& + .wp-block-group.has-background {
		margin-top: 0;
	}
}

.cps-theme .global-container > .block-hero + .wp-block-group.has-background {
	margin-top: 0;
}

.wp-block-group.has-background {
	padding: 40px 25px;
}
