.global-container > .block-section-heading {

	@mixin component-spacing-top;
}

h1,
.is-style-h1 {
	font-family: var(--f-heading);
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.1;
	text-transform: uppercase;

	@media (--bp-large) {
		font-size: 48px;
		line-height: 1.08;
	}
}

h2,
.is-style-h2 {
	font-family: var(--f-heading);
	font-size: 25px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1.2;
	text-transform: uppercase;

	@media (--bp-large) {
		font-size: 28px;
		line-height: 1.17;
	}
}

h3,
.is-style-h3 {
	font-family: var(--f-heading);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.56;
	text-transform: none;
}

h4,
.is-style-h4 {
	font-family: var(--f-body);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.375;
	text-transform: none;
}

h5,
.is-style-h5 {
	font-family: var(--f-heading);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1.7px;
	line-height: 1.375;
	text-transform: uppercase;
}

h6,
.is-style-h6 {
	font-family: var(--f-heading);
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.85;
	text-transform: none;

	@media (--bp-large) {
		line-height: 1.375;
	}
}
