.wp-block-image {

	@nest .cps-theme & {
		margin: var(--space-mdplus) 0;
	}

	& img {
		height: auto;
		width: 100%;
	}

	& figcaption {
		font-family: var(--f-body);
		font-size: 12px;
		font-style: italic;
		line-height: 1.41;
	}
}

.cps-theme .global-container > .wp-block-image {

	@media (--bp-xlarge) {
		margin: var(--space-mdplus) -50px;
		max-width: calc(100% + 100px);
		width: calc(100% + 100px);
	}
}
