.is-style-linear {
	list-style: none;
	margin-top: 30px;
	padding: 0 0 0 20px;
	position: relative;

	&::before {
		background-color: var(--c-yellow);
		content: "";
		height: calc(100% + 30px);
		left: 1px;
		position: absolute;
		top: -30px;
		width: 1px;
	}

	& li {
		margin-bottom: 30px;
		position: relative;

		&::before {
			background-color: var(--c-yellow);
			border-radius: 100%;
			content: "";
			display: block;
			height: 7px;
			left: -22px;
			position: absolute;
			top: 6px;
			width: 7px;
		}
	}
}

.is-style-inline {
	display: flex;
	flex-wrap: wrap;
	font-weight: 700;
	justify-content: center;
	list-style: none;
	margin: 30px 0;
	padding: 0;
	text-transform: uppercase;

	& li {
		border-right: 1px solid var(--c-white);
		margin-bottom: 20px;
		margin-right: 20px;
		padding-right: 20px;

		&:last-child {
			border-right: 0;
			margin-right: 0;
			padding-right: 0;
		}
	}

	& a {
		border-bottom: 1px solid transparent;
		text-decoration: none;
	}

	& .is-active a {
		border-bottom-color: var(--c-white);
		font-weight: 900;
	}

}
