.has-black-color {
	color: var(--c-black);
}

.has-white-color {
	color: var(--c-white);
}

.has-red-color {
	color: var(--c-red);
}

.has-yellow-color {
	color: var(--c-yellow);
}

.has-dark-gray-color {
	color: var(--c-gray-900);
}

.has-black-background-color {
	background-color: var(--c-black);
}

.has-white-background-color {
	background-color: var(--c-white);
}

.has-red-background-color {
	background-color: var(--c-red);
}

.has-yellow-background-color {
	background-color: var(--c-yellow);
}

.has-dark-gray-background-color {
	background-color: var(--c-gray-900);
}
