.is-style-small {
	font-family: var(--f-body);
	font-size: 12px;
	line-height: 1.9;

	@media (--bp-large) {
		font-size: 14px;
		line-height: 1.64;
	}
}

.is-style-small-description {
	font-family: var(--f-body);
	font-size: 12px;
	font-style: italic;
	line-height: 1.41;

	& :--heading {
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		line-height: inherit;
	}
}
