.wp-block-pullquote {
	margin: 45px 0;
	padding: 0;

	&.alignleft,
	&.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;

		@media (--bp-medium) {
			margin-bottom: 0;
			margin-top: 0;
			max-width: 50%;
		}

		@media (--bp-large) {
			margin-bottom: 20px;
		}
	}

	&.alignleft {

		@media (--bp-medium) {
			float: left;
			margin-right: 20px;
		}

		@media (--bp-xlarge) {
			margin-left: -50px;
			margin-right: 70px;
		}
	}

	&.alignright {

		@media (--bp-medium) {
			float: right;
			margin-left: 20px;
		}

		@media (--bp-xlarge) {
			margin-left: 70px;
			margin-right: -50px;
		}
	}

	& blockquote {
		margin: 0;
	}

	&.alignleft blockquote p,
	&.alignright blockquote p,
	& blockquote p {
		font-family: var(--c-heading);
		font-size: 24px;
		font-style: italic;
		font-weight: 300;
		line-height: 1.33;
		margin: 0;
		text-align: left;

		@media (--bp-large) {
			font-size: 37px;
			line-height: 1.08;
		}
	}
}
