.wp-block-table {
	margin: 0;

	& table {
		border-collapse: collapse;
	}

	&:not(.is-style-stripes) tbody {
		background-color: var(--c-gray-200);
	}

	& tr {
		border-bottom: 3px solid var(--c-white);
	}

	& td {
		padding: 10px;
	}
}
