.application-deadlines-table {
	border-collapse: collapse;
	width: 100%;

	& th {
		border-bottom: 1px solid var(--c-border);
		border-top: 1px solid var(--c-border);
		padding: 12px 0;
		text-align: left;
	}

	& td {
		padding: 10px 0;
	}

	& th:first-child,
	& td:first-child {
		padding-right: 10px;
		width: 35%;
	}
}
