.breadcrumbs {
	display: none;
	font-size: 12px;

	@media (--bp-large) {
		display: block;
	}
}

.block-hero .breadcrumbs {
	left: 0;
	padding: 0 37px;
	position: absolute;
	top: 100px;
	z-index: 3;
}
