.no-js .dialog {
	display: none;
}

[data-a11y-dialog-native] > :first-child {
	display: none;
}

dialog[open] {
	display: block;
}

.dialog[aria-hidden="true"] {
	display: none;
}

.dialog-overlay {
	background-color: var(--c-black-50);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.dialog-content {
	background-color: var(--c-white);
	box-shadow: 0 -1px 28px 1px var(--c-black-50);
	left: 50%;
	margin: 0;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 3;

	@media (--bp-medium) {
		max-width: 700px;
		padding: 50px;
	}

	@media (--bp-large) {
		max-width: 950px;
	}
}

.dialog-close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 30px;
	font-weight: 700;
	height: 30px;
	padding: 0;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 15px;
	transition: 0.15s;
	width: 30px;

	@media (--bp-medium) {
		right: 20px;
		top: 20px;
	}
}

@keyframes fade-in {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes appear {

	from {
		opacity: 0;
		transform: translate(-50%, -40%);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

.dialog:not([aria-hidden="true"]) > .dialog-overlay {
	animation: fade-in 200ms 1 both;
}

.dialog:not([aria-hidden="true"]) > .dialog-content {
	animation: appear 400ms 150ms 1 both;
}
