.floating-cta {
	align-items: center;
	background-color: var(--c-white);
	display: flex;
	justify-content: space-between;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 8px 0;
	position: sticky;
	top: 56px;
	z-index: 999;

	@media (--bp-large) {
		padding: 10px 0;
	}

	@media (--bp-xlarge) {
		top: 80px;
	}

	@nest .has-global-header & {
		top: 100px;

		@media (--bp-xlarge) {
			top: 124px;
		}
	}

	@nest .single-program-content__nav & {
		display: none;

		@media (--bp-single-program) {
			display: flex;
			position: relative;
			top: auto;
		}
	}

	@nest .block-hero + & {
		margin-left: -20px;
		width: calc(100% + 40px);

		@media (min-width: 1040px) {
			margin-left: calc(500px - 50vw);
			width: 100vw;
		}
	}

	& li {
		flex: 1 0 auto;
		position: relative;
		text-align: center;

		&::after {
			background-color: var(--c-red);
			content: "";
			display: block;
			height: 46px;
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
		}

		&:last-of-type::after {
			display: none;
		}
	}

	& a {
		color: var(--c-red);
		display: block;
		font-family: var(--f-heading);
		font-size: 12px;
		font-style: italic;
		font-weight: 700;
		letter-spacing: 1px;
		padding: 14px 10px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.2s ease;

		&:focus,
		&:hover {
			color: var(--c-black);
		}
	}
}
