.striped-list {
	width: 100%;

	& h4 {
		border-bottom: 1px solid var(--c-border);
		border-top: 1px solid var(--c-border);
		font-family: var(--f-heading);
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0.5px;
		line-height: 1.56;
		margin: 0 0 18px 0;
		padding: 15px;
		text-transform: none;
	}
}

.striped-list li {
	display: inline-block;
}

.striped-list ul,
.striped-list li {
	margin-left: 0;
	padding-left: 0;
}

.striped-list > ul {
	display: table;
	width: 100%;
}

.striped-list > ul > li {
	box-sizing: border-box;
	display: inline-block;
	font-weight: 700;
	margin-top: 15px;
	width: 100%;

	@media (--bp-medium) {
		float: left;
		width: 50%;
	}

	@media (--bp-large) {
		float: left;
		width: 33%;
	}
}

.striped-list > ul > li > ul > li {
	background-color: var(--c-white);
	font-size: 12px;
	font-weight: 400;
	line-height: 1.9;
	margin: 0 2px;
	padding: 10px;
	width: 100%;

	@media (--bp-medium) {
		padding: 14px;
	}

	@media (--bp-large) {
		font-size: 14px;
		line-height: 1.64;
	}
}

.striped-list > ul > li > ul {
	margin-top: 0;
}

.striped-list ul li::before {
	content: "";
}
