.load-more {
	margin-bottom: var(--space-mdplus);
	margin-top: var(--space-mdplus);
	text-align: center;

	@media (--bp-large) {
		margin-bottom: calc(2 * var(--space-mdplus));
		margin-top: calc(2 * var(--space-mdplus));
	}
}
