.person-data {
	margin: 40px auto;

	@media (--bp-large) {
		align-items: center;
		display: flex;
		margin: 75px auto;
	}

	& > div {

		@media (--bp-large) {
			flex: 1 0 50%;
			max-width: 50%;
		}
	}
}

.person-data__image {

	@mixin aspect-ratio 513, 356;
	margin-bottom: 20px;

	@media (--bp-large) {
		margin-bottom: 0;
	}

	& img {

		@mixin aspect-ratio__element;
		@mixin aspect-ratio__element--cover;
	}
}

.person-data__contact {

	@media (--bp-large) {
		padding-left: 70px;
	}

	&:first-child {
		padding-right: 0;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& li {
		margin-bottom: 34px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& svg {
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}

	& a {
		text-decoration: none;
	}
}
