.program-badge {
	align-items: center;
	background-color: var(--c-yellow);
	border-radius: 100%;
	box-shadow: 0 0 0 12px rgba(255, 191, 61, 0.5);
	box-sizing: border-box;
	color: var(--c-white);
	display: flex;
	font-size: 24px;
	font-weight: 700;
	height: 76px;
	justify-content: center;
	margin: 12px;
	text-align: center;
	width: 76px;

	&.program-badge--center {
		margin: 12px auto;
	}

	&.program-badge--hero {
		flex-basis: 51px;
		font-size: 18px;
		height: 51px;
		width: 51px;

		@media (--bp-medium) {
			flex-basis: 76px;
			float: left;
			font-size: 24px;
			height: 76px;
			margin-right: 40px;
			margin-top: 43px;
			width: 76px;
		}
	}
}
