.requirements-table {
	width: 100%;

	@media (--bp-large) {
		max-width: 650px;
		width: 70%;
	}

	& td {
		width: 38px;

		&:first-child {
			width: auto;
		}
	}
}

.requirements-table__button {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
	text-align: left;
	text-decoration: underline;

	&:focus,
	&:hover {
		color: var(--c-red);
	}
}
