.search-results-search-form {
	margin-bottom: var(--space-mdplus);
}

.search-form-wrapper {
	margin-bottom: var(--space-mdplus);
}

.search-form {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1040px;
	width: 100%;

	& select {
		border: 1px solid var(--c-black);
		border-radius: 0;
		display: none;
		height: 49px;
		margin-right: -1px;
		padding: 10px;
		width: 180px;

		@media (--bp-xlarge) {
			display: block;
		}
	}

	& .select2-container {
		display: none;
		margin-right: -1px;

		@media (--bp-xlarge) {
			display: block;
		}
	}

	& .select2-container--default .select2-selection--single {
		border-color: var(--c-black);
		max-height: 48px;

		@media (--bp-medium) {
			max-height: 49px;
		}
	}

	& .select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 12px;
	}

	& input {
		border: 1px solid var(--c-black);
		flex: 1;
		font-style: italic;
		max-height: 49px;
		padding: 14px 12px;

		@media (--bp-medium) {
			font-size: 12px;
			padding: 17px 12px;
		}

		@nest .ie11 & {
			line-height: 1.5;
		}
	}

	& input[type="search"]::-webkit-search-cancel-button {
		-webkit-appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M37.969 12.844L26.813 24l11.156 11.156-2.813 2.813L24 26.813 12.844 37.969l-2.813-2.813L21.187 24 10.031 12.844l2.813-2.813L24 21.187l11.156-11.156z'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: contain;
		height: 16px;
		width: 16px;
	}

	& .button-primary {
		height: 48px;
		padding: 0;
		width: 46px;

		@media (--bp-medium) {
			height: 49px;
		}

		@nest .ie11 & {
			line-height: 0;
			max-height: 48px;

			@media (--bp-medium) {
				max-height: 49px;
			}
		}

		& svg {
			fill: var(--c-white);
			height: 18px;
			width: 18px;
		}
	}
}

.search-dropdown {
	z-index: 5000;

	@nest .news_event--filters & {
		z-index: 4998;
	}
}

.select2-container--default.search-dropdown .select2-results__option[aria-selected="true"] {
	background-color: transparent;
}

.search-dropdown .select2-results__options {
	font-size: 12px;
	font-style: italic;
	padding-bottom: 10px;
	padding-top: 10px;
}

.search-dropdown .select2-results__option {
	padding: 3px 20px;
}
