.single-navigation {
	display: flex;
	font-family: var(--f-heading);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	justify-content: space-between;
	letter-spacing: 1.7px;
	line-height: 1.375;
	margin: var(--space-mdplus) 0;
	text-transform: uppercase;

	& a {
		color: var(--c-red);
		text-decoration: none;

		&:focus,
		&:hover {
			color: var(--c-black);
		}

		&[rel="prev"] {
			margin-right: auto;

			&::before {
				border: 10px solid transparent;
				border-left: 0;
				border-right-color: var(--c-black);
				content: "";
				display: inline-block;
				height: 0;
				margin-right: 20px;
				vertical-align: middle;
				width: 0;
			}
		}

		&[rel="next"] {
			margin-left: auto;

			&::after {
				border: 10px solid transparent;
				border-left-color: var(--c-black);
				border-right: 0;
				content: "";
				display: inline-block;
				height: 0;
				margin-left: 20px;
				vertical-align: middle;
				width: 0;
			}
		}

		& span {
			display: none;

			@media (--bp-large) {
				display: inline-block;
			}
		}
	}
}
