/*
 * Colors
 */
:root {
	--c-black: #000;
	--c-white: #fff;

	--c-gray-200: #eee;
	--c-gray-500: #555;
	--c-gray-900: #272727;

	--c-red: #d41b2c;
	--c-yellow: #ffbf3d;

	--c-black-50: rgba(0, 0, 0, 0.5);
	--c-black-95: rgba(0, 0, 0, 0.95);
	--c-black-90: rgba(0, 0, 0, 0.9);
	--c-transparent: rgba(0, 0, 0, 0);
	--c-white-90: rgba(255, 255, 255, 0.9);
	--c-white-50: rgba(255, 255, 255, 0.5);
	--c-text: var(--c-gray-900);
	--c-border: var(--c-gray-500);
}
