@define-mixin aspect-ratio $width: 16, $height: 9 {
	overflow: hidden;
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-bottom: calc($height / $width * 100%);
		width: 100%;
	}
}

@define-mixin aspect-ratio__element {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

@define-mixin aspect-ratio__element--cover {
	height: 100%;
	object-fit: cover;
	width: 100%;

	@nest .ie11 & {
		left: 50%;
		max-width: none;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}
}

@define-mixin aspect-ratio__element--contain {
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	top: 50%;
	transform: translate(-50%, -50%);

	@nest .ie11 & {
		width: auto;
	}
}

@define-mixin component-spacing-top {
	margin-top: var(--component-spacing);

	@media (--bp-medium) {
		margin-top: var(--component-spacing-md);
	}

	@media (--bp-large) {
		margin-top: var(--component-spacing-lg);
	}
}
