/*
 * Colors
 */
:root {
	--space-md: 40px;
	--space-mdplus: 50px;
	--space-lg: 60px;

	--component-spacing: 50px;
	--component-spacing-md: 70px;
	--component-spacing-lg: 100px;

	--vertical-spacing-xxlarge: 100px;
	--vertical-spacing-xlarge: 60px;
	--vertical-spacing-large: 40px;
	--vertical-spacing-medium: 30px;
	--vertical-spacing-small: 20px;
	--vertical-spacing-xsmall: 15px;
	--vertical-spacing-xxsmall: 5px;

	--overlay-height: 300px;
}
