.grid {
	display: flex;
	justify-content: space-between;

	&.grid--2,
	&.grid--3,
	&.grid--4 {
		flex-wrap: wrap;
	}

	&.grid--align-left {
		justify-content: flex-start;
	}
}

.grid-item {
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0 20px;

	@media (--bp-medium) {
		margin-bottom: 0;
	}

	@nest .cps-theme .grid--2 & {
		flex: 1 0 50%;
		max-width: 50%;
	}

	@nest .cps-theme .grid--3 & {
		flex: 1 0 50%;
		max-width: 50%;

		@media (--bp-medium) {
			flex: 1 0 33.33%;
			max-width: 33.33%;
		}
	}

	@nest .cps-theme .grid--4 &.grid-item--number {
		flex: 1 0 100%;
		max-width: 100%;

		@media (--bp-large) {
			flex: 1 0 25%;
			max-width: 25%;
		}
	}

	@nest .grid--gutter-lg & {

		@media (--bp-large) {
			padding: 0 60px;
		}
	}
}

.grid-item__image {

	@mixin aspect-ratio 23, 15;

	& img {

		@mixin aspect-ratio__element;
		@mixin aspect-ratio__element--cover;
	}
}

.grid-item__badge {
	margin-bottom: 30px;
}

.grid-item--number {
	align-items: flex-start;
	display: flex;

	@media (--bp-large) {
		display: block;
	}

	& .grid-item__content {
		flex: 1;
		padding-left: 20px;

		@media (--bp-large) {
			padding-left: 0;
		}
	}
}

.grid-item__number {
	flex: 0 0 80px;
	font-family: var(--f-heading);
	font-size: 62px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1.2;
	margin: 0;
}
