.news_event--filters--select {
	min-width: 100%;

	@media (--bp-large) {
		min-width: 200px;
	}
}

.news_event--filters {
	margin-top: 50px;

	& select {
		height: 47px;
		padding-left: 20px;
		padding-right: 20px;
	}

	& label {
		display: block;
		font-weight: 700;
		margin-bottom: 10px;
		margin-right: 10px;
		margin-top: 10px;

		@media (--bp-large) {
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
		}

		&:last-of-type {

			@media (--bp-large) {
				margin-left: 30px;
			}
		}
	}
}
