.single-program-content {

	@media (--bp-single-program) {
		display: flex;
	}

	@nest .cps-theme & {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		position: relative;
		right: -50%;
		width: 100vw;
	}
}

.single-program-content__nav {
	background-color: var(--c-black);
	color: var(--c-white);
	position: sticky;
	top: 56px;
	z-index: 2;

	@media (--bp-single-program) {
		flex: 1 0 340px;
		padding-bottom: 40px;
		position: relative;
		top: auto;
	}

	@nest .has-global-header & {
		top: 100px;

		@media (--bp-single-program) {
			top: auto;
		}
	}
}

.single-program-content__blocks {

	@media (--bp-single-program) {
		flex: 1 0 calc(100% - 340px);
		padding: 0 25px;
	}

	& .wp-block-group.has-background {

		@media (--bp-single-program) {
			margin-left: -25px;
			margin-right: -25px;
		}
	}

	& .wp-block-group:not(.has-background) {
		padding: 0 25px;

		@media (--bp-single-program) {
			padding: 0;
		}
	}
}

.single-program-content__dropdown-toggle {
	background-color: transparent;
	border-bottom: 1px solid var(--c-white);
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	border-top: 1px solid var(--c-white);
	color: inherit;
	padding: 13px 25px;
	position: relative;
	text-align: left;
	width: 100%;

	@media (--bp-single-program) {
		display: none;
	}

	&::after {
		border: 10px solid transparent;
		border-bottom: 0;
		border-top-color: var(--c-white);
		content: "";
		display: block;
		height: 0;
		margin-top: -5px;
		position: absolute;
		right: 25px;
		top: 50%;
		width: 0;
	}

	&[aria-expanded="true"]::after {
		border-bottom: 10px solid var(--c-white);
		border-top: 0;
	}
}

.single-program-content__dropdown {
	background-color: var(--c-black);
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;

	@media (--bp-single-program) {
		left: auto;
		position: sticky;
		top: 80px;
	}

	@nest .has-global-header & {

		@media (--bp-single-program) {
			top: 124px;
		}
	}

	&[aria-hidden="false"] {
		opacity: 1;
		visibility: visible;
	}

	&[aria-hidden="true"] {
		opacity: 0;
		visibility: hidden;
	}
}

.single-program-content__menu {
	list-style: none;
	margin-top: 30px;
	padding: 0 0 0 90px;
	position: relative;

	&::before {
		background-color: var(--c-white);
		content: "";
		height: calc(100% - 16px);
		left: 48px;
		position: absolute;
		top: 8px;
		width: 1px;
	}

	& li {
		margin-bottom: 30px;
		position: relative;

		&::before {
			background-color: var(--c-white);
			border-radius: 100%;
			content: "";
			display: block;
			height: 7px;
			left: -45px;
			position: absolute;
			top: 8px;
			width: 7px;
		}

		&.is-active {
			font-weight: 700;

			&::before {
				background-color: var(--c-yellow);
			}

			&::after {
				border: 2px solid var(--c-white);
				border-radius: 100%;
				content: "";
				height: 35px;
				left: -59px;
				position: absolute;
				top: -5px;
				width: 35px;
			}
		}
	}

	& a {
		text-decoration: none;
	}
}
