.site-footer__menu {
	font-weight: 700;

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (--bp-medium) {
			column-count: 2;
			column-gap: var(--space-md);
		}

		@media (--bp-large) {
			column-gap: 80px;
		}

		& li:nth-child(4) {
			margin-bottom: var(--space-md);

			@media (--bp-medium) {
				margin-bottom: 0;
			}
		}
	}
}
