.site-footer {
	background-color: var(--c-gray-900);
	color: var(--c-white);
	padding: var(--space-lg) 0;

	& a {
		text-decoration: none;
	}
}

.site-footer__inner {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;

	@media (--bp-medium) {
		width: 100vw;
	}

	@media (--bp-large) {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
	}

	@media (--bp-xlarge) {
		padding: 0;
		width: 96vw;
	}

	& > div {
		box-sizing: border-box;
	}
}

.site-footer__contact {

	@media (--bp-large) {
		flex: 1 0 20%;
	}

	& h2 {
		margin-top: 0;
	}
}

.site-footer__address {
	margin-bottom: var(--space-mdplus);

	@media (--bp-large) {
		flex: 1 0 30%;
		margin-bottom: 0;
		padding-right: var(--space-md);
	}
}

.site-footer__menus {
	margin-bottom: var(--space-mdplus);

	@media (--bp-large) {
		flex: 1 0 50%;
		margin-bottom: 0;
		padding-right: var(--space-md);
	}
}

.site-footer__logo {
	color: var(--c-white);
	display: block;
	margin-bottom: 30px;

	& svg {
		fill: currentColor;
		height: auto;
		max-width: 253px;
	}
}
