#footer-social {
	margin-bottom: 30px;

	& ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& li {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	& a {

		&:focus,
		&:hover {
			color: var(--c-red);
		}
	}

	& svg {
		display: block;
		fill: currentColor;
		max-height: 26px;
		width: auto;
	}
}
