/* stylelint-disable sh-waqar/declaration-use-variable */

/* edit.php, Hide default date select */
.tablenav select[name="m"] {
	display: none;
}

.wp-list-table .column-event-start,
.wp-list-table .column-event-end {
	width: 12em;
}

/* post.php, post-new.php */
#ui-datepicker-div {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	display: none;
	font-family: sans-serif;
}

#cps-event-date input.error {
	background: rgba(255, 0, 0, 0.4);
	border-color: rgba(255, 0, 0, 0.5);
	color: #fff;
	font-weight: 700;
}

#cps-event-date  #event-start-string,
#cps-event-date  #event-end-string {
	width: calc(100% - 12px);
}

#cps-event-date label {
	margin-right: 1em;
}

#cps-event-date .all-day-hidden {
	visibility: hidden;
}

#cps-event-date .all-day-visible {
	visibility: visible !important;
}

#cps-event-date input[readonly] {
	background: #fff;
}

/*
 * Hide the Event Date checkbox in Screen Options drawer.
 */
.metabox-prefs label[for="events-event-date-hide"] {
	display: none;
}
