.screen-reader-text,
.visually-hidden,
.srt {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	&.is-focusable:focus {
		background-color: var(--c-red);
		border-radius: 0;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: var(--c-white);
		display: block;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 20px 30px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 999999999;
	}
}

.hidden {
	display: none;
	visibility: hidden;
}
