/* Margin top */
.mt-zero {
	margin-top: 0;
}

.mt-xsmall {
	margin-top: var(--vertical-spacing-xxsmall);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-xsmall);
	}
}

.mt-small {
	margin-top: var(--vertical-spacing-xsmall);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-small);
	}
}

.mt-medium {
	margin-top: var(--vertical-spacing-small);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-medium);
	}
}

.mt-large {
	margin-top: var(--vertical-spacing-medium);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-large);
	}
}

.mt-xlarge {
	margin-top: var(--vertical-spacing-large);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-xlarge);
	}
}

.mt-xxlarge {
	margin-top: var(--vertical-spacing-xlarge);

	@media (--bp-medium) {
		margin-top: var(--vertical-spacing-xxlarge);
	}
}

/* Margin bottom */
.mb-zero {
	margin-bottom: 0;
}

.mb-xsmall {
	margin-bottom: var(--vertical-spacing-xxsmall);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-xsmall);
	}
}

.mb-small {
	margin-bottom: var(--vertical-spacing-xsmall);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-small);
	}
}

.mb-medium {
	margin-bottom: var(--vertical-spacing-small);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-medium);
	}
}

.mb-large {
	margin-bottom: var(--vertical-spacing-medium);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-large);
	}
}

.mb-xlarge {
	margin-bottom: var(--vertical-spacing-xlarge);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-xlarge);
	}
}

.mb-xxlarge {
	margin-bottom: var(--vertical-spacing-xlarge);

	@media (--bp-medium) {
		margin-bottom: var(--vertical-spacing-xxlarge);
	}
}
