.wp-admin .fm-wrapper {
	border-bottom: none;
	margin-bottom: 0;
	padding-top: 2px;
}

.wp-admin .fm-wrapper .fm-item::after {
	clear: both;
	content: "";
	display: table;
}

.wp-admin .fm-wrapper .fm-label {
	font-weight: 400;
	margin-bottom: 0.4em;
}

.wp-admin .fm-group-label-wrapper .fm-label {
	margin-bottom: 0;
}

.wp-admin .fm-wrapper .fm-label-inline {
	float: left;
	margin-bottom: 0;
	width: 9em;
}

.wp-admin .fm-wrapper .fm-label-inline + .fm-element {
	width: calc(100% - 10em);
}

.wp-admin .fm-wrapper .fm-label-inline + .fm-element + .fm-item-description,
.wp-admin .fm-wrapper .fm-label-inline ~ .fm-option {
	padding-left: 10em;
}

.wp-admin .fm-wrapper .fm-label-inline ~ .wp-editor-wrap {
	padding-left: 9.5em;
}

textarea.fm-element {
	width: 100%;
}

.fm-item .form-required .fm-label::after {
	content: " *";
}

.fm-element.fm-js-error {
	background-color: #fdf7f5; /* stylelint-disable-line */
	border-color: #ca4a1f; /* stylelint-disable-line */
}
