/* stylelint-disable sh-waqar/declaration-use-variable */

.cps-image-uploader {
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;

	& img {
		display: block;
		pointer-events: none;
		user-select: none;
	}

	&.is-selected {
		outline: 4px solid #0085ba;
		outline-offset: -4px;
	}

	& .components-toolbar {
		background-color: #0085ba;
		border-color: transparent;
		display: inline-flex;
		padding: 2px;
		position: absolute;
		right: 1px;
		top: 1px;
		z-index: 20;

		& button {
			color: #fff;
			padding: 0;

			&:focus,
			&:hover {
				color: #fff;
			}

			& svg {
				pointer-events: none;
			}
		}
	}
}

.cps-image-uploader body.admin-color-blue & {

	&.is-selected {
		outline: 4px solid #82b4cb;
	}

	& .components-toolbar {
		background-color: #82b4cb;
	}
}

.cps-image-uploader body.admin-color-coffee & {

	&.is-selected {
		outline: 4px solid #c2a68c;
	}

	& .components-toolbar {
		background-color: #c2a68c;
	}
}

.cps-image-uploader body.admin-color-ectoplasm & {

	&.is-selected {
		outline: 4px solid #a7b656;
	}

	& .components-toolbar {
		background-color: #a7b656;
	}
}

.cps-image-uploader body.admin-color-midnight & {

	&.is-selected {
		outline: 4px solid #a7b656;
	}

	& .components-toolbar {
		background-color: #a7b656;
	}
}

.cps-image-uploader body.admin-color-ocean & {

	&.is-selected {
		outline: 4px solid #a3b9a2;
	}

	& .components-toolbar {
		background-color: #a3b9a2;
	}
}

.cps-image-uploader body.admin-color-sunrise & {

	&.is-selected {
		outline: 4px solid #d1864a;
	}

	& .components-toolbar {
		background-color: #d1864a;
	}
}
