.cps-image-upload {
	width: 100%;
}

.cps-image-uploader-inspector {
	margin-bottom: 1em;
	width: 100%;
}

.cps-image-uploader-inspector-edit-wrap {
	border: 1px solid #e2e4e7;
	padding: 12px;
	position: relative;
}

.cps-image-uploader-inspector-toolbar {
	padding-top: 12px;
}

.cps-image-uploader-inspector-delete {
	float: right;
}
