.cps-post-finder-input {
	position: relative;

	& .components-spinner {
		position: absolute;
		right: 0;
		top: 0.125em;
	}
}

.cps-faculty-panel-item {
	align-items: center;
	display: flex;
	justify-content: space-between;

	& button.button-link {
		height: auto;
		text-decoration: none;
	}
}
