/* stylelint-disable sh-waqar/declaration-use-variable */
.cps-sortable-items {
	list-style: none;
}

.cps-sortable-item-toolbar {
	background: #fff;
	border: 1px solid rgb(30, 30, 30);
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(calc(-100% + 1px));
	z-index: 11;

	& button * {
		pointer-events: none;
	}
}

.cps-sortable-item {
	display: block;
	position: relative;

	&:hover {

		& .cps-sortable-item-toolbar {
			display: flex;

			& > button:last-child {
				border-left: 1px solid #e3e5e8;
			}
		}
	}
}

.cps-sortable-handle svg {
	margin-top: 15px;
}

.cps-sortable-inserter-button {
	background: #1e1e1e;
	border-radius: 2px;
	color: #fff;
	height: 24px;
	min-width: 0 !important;
	padding: 0 !important;
	width: 24px;

	&:hover {
		color: #fff !important;
	}
}
