.site-header__logo {
	display: inline-block;
	margin: 0;
	width: 186px;

	@media (--bp-xlarge) {
		display: block;
		flex: 1 0 274px;
		width: 274px;
	}

	& a {
		display: block;

		&:focus,
		&:hover {

			@nest .hero-background-color-red [data-submenu-open="false"]:not(.sticky):not([data-search-open="true"]) & {
				color: var(--c-white);
			}

			@nest .hero-background-color-red.navigation-color-white [data-submenu-open="false"]:not(.sticky) &,
			.hero-background-color-red.navigation-color-white [data-site-navigation-open="false"]:not(.sticky) & {
				color: var(--c-black);
			}

			@nest .hero-background-color-red.navigation-color-white [data-site-navigation-open="true"]:not(.sticky) & {
				color: var(--c-red);

				@media (--bp-xlarge) {
					color: var(--c-black);
				}
			}

			@nest .hero-background-color-red.navigation-color-white [data-submenu-open="true"]:not(.sticky) & {

				@media (--bp-xlarge) {
					color: var(--c-red);
				}
			}
		}

	}

	& svg {
		display: block;
		fill: currentColor;
		max-width: 100%;
	}
}
