.main-nav {
	clip: rect(auto, auto, auto, auto); /* Prevent "leaking" submenus */
	height: calc(100% - 3.5rem);
	left: 0;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 3.5rem;
	width: 100%;

	@media (--bp-xlarge) {
		height: auto;
		left: auto;
		overflow-x: initial;
		overflow-y: initial;
		position: relative;
		top: auto;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& button {
		appearance: none;
		background: none;
		border: none;
		border-radius: 0;
		color: inherit;
		cursor: pointer;
		font-weight: 700;
		padding: 0;
		text-align: left;
	}

	& .menu {
		position: relative;
		transform: translateX(0);
		transition-duration: 250ms;
		transition-property: transform;
		transition-timing-function: ease-in-out;

		@nest [data-submenu-open="true"] & {
			transform: translateX(-100%);

			@media (--bp-medium) {
				transform: translateX(0);
			}
		}

		@media (--bp-xlarge) {
			display: flex;
		}

		& > .menu-item {

			& > a {
				display: block;
				font-size: 19px;
				font-weight: 700;
				line-height: 1.15;
				padding: 20px 14px;
				text-decoration: none;
				width: 100%;

				@media (--bp-medium) {
					width: 50%;
				}

				@media (--bp-xlarge) {
					font-size: 14px;
					padding: 30px 30px 10px 30px;
					width: 100%;
				}

				&:focus,
				&:hover {
					color: var(--c-red);

					@nest .hero-background-color-red [data-submenu-open="false"]:not(.sticky):not([data-search-open="true"]) & {
						color: var(--c-white);
					}

					@nest .hero-background-color-red.navigation-color-white [data-submenu-open="false"]:not(.sticky) &,
					.hero-background-color-red.navigation-color-white [data-site-navigation-open="false"]:not(.sticky) & {
						color: var(--c-black);
					}

					@nest .hero-background-color-red.navigation-color-white [data-site-navigation-open="true"]:not(.sticky) & {
						color: var(--c-red);

						@media (--bp-xlarge) {
							color: var(--c-black);
						}
					}

					@nest .hero-background-color-red.navigation-color-white [data-submenu-open="true"]:not(.sticky) & {

						@media (--bp-xlarge) {
							color: var(--c-red);
						}
					}
				}
			}
		}
	}

	& .menu-item-has-children {

		@media (--bp-xlarge) {
			position: static;
		}

		& button {
			align-items: center;
			display: flex;
			font-size: 19px;
			justify-content: space-between;
			padding: 20px 14px;
			position: relative;
			width: 100%;

			@media (--bp-medium) {
				width: 50%;
			}

			@media (--bp-xlarge) {
				font-size: 14px;
				padding: 30px 30px 10px 30px;
				width: 100%;
			}

			&::after {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: inline-block;
				height: 11px;
				width: 5px;

				@media (--bp-xlarge) {
					display: none;
				}
			}

			& span {
				pointer-events: none;
			}

			&:focus,
			&:hover {
				color: var(--c-red);

				@nest .hero-background-color-red [data-submenu-open="false"]:not(.sticky):not([data-search-open="true"]) & {
					color: var(--c-white);
				}

				@nest .hero-background-color-red.navigation-color-white [data-submenu-open="false"]:not(.sticky) &,
				.hero-background-color-red.navigation-color-white [data-site-navigation-open="false"]:not(.sticky) & {
					color: var(--c-black);
				}

				@nest .hero-background-color-red.navigation-color-white [data-site-navigation-open="true"]:not(.sticky) & {
					color: var(--c-red);

					@media (--bp-xlarge) {
						color: var(--c-black);
					}
				}

				@nest .hero-background-color-red.navigation-color-white [data-submenu-open="true"]:not(.sticky) & {

					@media (--bp-xlarge) {
						color: var(--c-red);
					}
				}
			}

			&[data-submenu="open"] {

				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 11'%3E%3Cpath d='M.743.793l4.298 4.95-4.298 4.95z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
				}

				&[aria-expanded="false"] {

					&::after {

						@nest [data-submenu-open="true"] & {

							@media (--bp-medium) {
								display: none;
							}
						}
					}
				}
			}

			&[data-submenu="close"] {
				padding-left: 2.75rem;

				@media (--bp-medium) {
					display: none;
				}

				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 11'%3E%3Cpath d='M4.743.793L.444 5.743l4.299 4.95z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
					left: 1rem;
					position: absolute;
				}
			}
		}
	}

	& .menu-item__wrapper {
		left: 100%;
		margin-bottom: 40px;
		position: absolute;
		top: 0;
		transform: translateX(0);
		transition-duration: 250ms;
		transition-property: transform, opacity, visibility;
		transition-timing-function: ease-in-out;
		width: 100%;

		@media (--bp-medium) {
			left: 50%;
			margin-top: 14px;
			transform: translateX(0);
			width: 50%;
		}

		@media (--bp-xlarge) {
			display: flex;
			left: auto;
			margin-bottom: 0;
			margin-top: 0;
			padding-top: 30px;
			top: 100%;
			width: 100%;
		}

		& a {
			display: block;
			text-decoration: none;
		}

		&[data-open="false"] {
			opacity: 0;
			visibility: hidden;

			@nest [data-submenu-open="true"] & {
				transform: translateX(100%);

				@media (--bp-xlarge) {
					transform: translateX(0%);
				}
			}
		}

		&[data-open="true"] {
			opacity: 1;
			visibility: visible;
		}
	}
}
