.site-header__quick-links {
	color: inherit;
	display: none;
	font-size: 14px;

	@media (--bp-xlarge) {
		display: block;
		margin-right: 20px;
		margin-top: 19px;
	}

	& a {
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;

		&:focus,
		&:hover {

			@nest .hero-background-color-red [data-submenu-open="false"]:not(.sticky):not([data-search-open="true"]) & {
				color: var(--c-white);
			}

			@nest .hero-background-color-red.navigation-color-white [data-submenu-open="false"]:not(.sticky) &,
			.hero-background-color-red.navigation-color-white [data-site-navigation-open="false"]:not(.sticky) & {
				color: var(--c-black);
			}

			@nest .hero-background-color-red.navigation-color-white [data-site-navigation-open="true"]:not(.sticky) & {
				color: var(--c-red);

				@media (--bp-xlarge) {
					color: var(--c-black);
				}
			}

			@nest .hero-background-color-red.navigation-color-white [data-submenu-open="true"]:not(.sticky) & {

				@media (--bp-xlarge) {
					color: var(--c-red);
				}
			}
		}
	}
}
