.site-header__button--search {
	margin-left: auto;
	padding: 0.25rem;
	position: relative;

	@media (--bp-xlarge) {
		margin-top: 11px;
	}

	& .icon-search-close {
		display: none;
	}

	&[aria-expanded="true"] {

		& .icon-search-open {
			display: none;
		}

		& .icon-search-close {
			display: block;

			@media (--bp-xlarge) {
				margin-top: 6px;
			}
		}
	}
}

.site-header__search {
	background-color: var(--c-white);
	display: flex;
	flex-direction: column;
	height: 127px;
	justify-content: center;
	left: 0;
	padding: 0 20px;
	position: absolute;
	top: 100%;
	transition-duration: 200ms;
	transition-property: transform, opacity, visibility;
	transition-timing-function: ease-in-out;
	width: 100%;

	@media (--bp-xlarge) {
		height: 280px;
	}

	& form {
		align-items: center;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: 1040px;
		width: 100%;
	}

	@nest .site-header:not(.loaded) & {
		opacity: 0;
		visibility: hidden;
	}

	&[aria-hidden="false"] {
		opacity: 1;
		visibility: visible;
	}

	&[aria-hidden="true"] {
		opacity: 0;
		visibility: hidden;
	}

	& select {
		border: 1px solid var(--c-black);
		border-radius: 0;
		display: none;
		height: 48px;
		margin-right: -1px;
		padding: 10px;
		width: 180px;

		@media (--bp-xlarge) {
			display: block;
		}
	}

	& input {
		border: 1px solid var(--c-black);
		flex: 1;
		padding: 14px 12px;
	}

	& .button-primary {
		height: 48px;
		padding: 0;
		width: 46px;

		& svg {
			height: 18px;
			width: 18px;
		}
	}
}
