.site-header {
	align-items: center;
	color: var(--c-black);
	display: flex;
	font-family: var(--f-heading);
	height: 56px;
	left: 0;
	padding: 14px 20px;
	position: fixed;
	top: 0;
	transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
	width: 100%;
	z-index: 4999;

	@media (--bp-xlarge) {
		height: 80px;
		padding: 26px 30px;
	}

	@nest .navigation-color-white & {
		color: var(--c-white);
	}

	@nest #nu__globalheader + & {
		top: 44px;
	}

	&.sticky {
		background-color: var(--c-white-90);

		@nest .navigation-color-white & {
			background-color: var(--c-black-90);
		}
	}

	&[data-search-open="true"] {
		background-color: var(--c-white);
		color: var(--c-black);

		@nest .navigation-color-white & {
			color: var(--c-black);
		}

		&.sticky {
			background-color: var(--c-white);
		}
	}

	&[data-site-navigation-open="true"] {
		color: var(--c-white);

		@media (--bp-xlarge) {
			color: var(--c-black);
		}

		@nest .navigation-color-white &:not([data-search-open="true"]) {

			@media (--bp-xlarge) {
				color: var(--c-white);
			}
		}
	}

	/* Overlay behind large screen nav */
	&::after {
		background-color: var(--c-transparent);
		content: "";
		display: block;
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: background-color 200ms ease-in-out, height 200ms ease-in-out;
		width: 100%;
		z-index: -1;
	}

	&[data-submenu-open="true"] {
		color: var(--c-white);

		@media (--bp-xlarge) {
			color: var(--c-white);
		}

		&::after {

			@media (--bp-xlarge) {
				background-color: var(--c-black-90);
				display: block;
				height: var(--overlay-height);
				min-height: 300px;
			}
		}
	}
}

.site-header__navigation {
	background-color: var(--c-black-95);
	color: inherit;
	display: block;
	height: calc(100vh - 44px);
	left: 0;
	opacity: 0;
	padding-top: 3.5rem;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: calc(100% - 2.75rem);
	z-index: -1;

	@media (--bp-xlarge) {
		background-color: transparent;
		height: auto;
		left: auto;
		opacity: 1;
		padding-left: 70px;
		padding-top: 0;
		position: relative;
		top: auto;
		visibility: visible;
		width: 100%;
		z-index: 2;
	}

	@nest .navigation-color-white & {

		@media (--bp-xlarge) {
			color: var(--c-white);
		}
	}

	@nest [data-search-open="true"] & {
		color: var(--c-black);
	}

	&[data-open="true"] {
		opacity: 1;
		visibility: visible;
	}
}

.site-header__button {
	align-items: center;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-size: 1.125rem;
	justify-content: center;
	padding: 0;

	& svg {
		display: inline-block;
		fill: currentColor;
		height: 1em;
		pointer-events: none;
		vertical-align: middle;
		width: 1em;
	}

	&:focus,
	&:hover {
		color: var(--c-red);

		@nest .hero-background-color-red [data-submenu-open="false"]:not(.sticky):not([data-search-open="true"]) & {
			color: var(--c-white);
		}

		@nest .hero-background-color-red.navigation-color-white [data-submenu-open="false"]:not(.sticky) &,
		.hero-background-color-red.navigation-color-white [data-site-navigation-open="false"]:not(.sticky) & {
			color: var(--c-black);
		}

		@nest .hero-background-color-red.navigation-color-white [data-site-navigation-open="true"]:not(.sticky) & {
			color: var(--c-red);

			@media (--bp-xlarge) {
				color: var(--c-black);
			}
		}

		@nest .hero-background-color-red.navigation-color-white [data-submenu-open="true"]:not(.sticky) & {

			@media (--bp-xlarge) {
				color: var(--c-red);
			}
		}
	}
}

.site-header__button--menu-open {
	margin-left: 0.5rem;
	padding: 0.25rem;
	position: relative;

	@media (--bp-xlarge) {
		display: none;
	}

	&[aria-expanded="true"] {
		opacity: 0;
		visibility: hidden;
	}
}

.site-header__button--menu-close {
	background-color: var(--c-black);
	font-size: 1.75rem;
	left: 100%;
	margin-left: 0.25rem;
	position: absolute;
	top: 0.875rem;

	@media (--bp-xlarge) {
		display: none;
	}

	&[aria-expanded="false"] {
		opacity: 0;
		visibility: hidden;
	}
}

.site-header__button--menu {

	@media (--bp-xlarge) {
		display: none;
	}
}
