.main-nav .sub-menu-tertiary {
	border-top: var(--c-white-50) 1px solid;
	display: inline-block;
	font-style: italic;
	font-weight: 700;
	margin-left: 2.75rem;
	margin-top: 1rem;
	padding-top: 1.25rem;
	text-transform: uppercase;

	@media (--bp-xlarge) {
		border-left: 1px solid var(--c-white-50);
		border-top: 0;
		font-size: 12px;
		margin-top: 0;
		padding-left: 2.75rem;
		padding-top: 0;
	}

	@nest .site-header:not(.loaded) & {
		opacity: 0;
		position: absolute;
		visibility: hidden;
	}

	& li {

		& ~ li {
			padding-top: 1rem;
		}
	}

	& a {
		padding-bottom: 0.25rem;
		padding-top: 0.25rem;

		@media (--bp-xlarge) {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}
