.main-nav .sub-menu {
	font-family: var(--f-body);
	font-size: 0.75rem;
	padding-left: 2.75rem;

	@media (--bp-xlarge) {
		padding-left: 30px;
	}

	@nest .site-header:not(.loaded) & {
		opacity: 0;
		position: absolute;
		visibility: hidden;
	}

	& a {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		position: relative;

		@media (--bp-xlarge) {
			padding-bottom: 0;
			padding-top: 0;
		}

		&::before {
			background-color: currentColor;
			border-radius: 50%;
			content: "";
			display: block;
			height: 0.25rem;
			margin: 0 0.5rem;
			opacity: 0;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			width: 0.25rem;
		}

		&:focus,
		&:hover {
			color: inherit;

			&::before {
				opacity: 1;
			}
		}
	}
}
